body {
    position: relative;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    white-space: normal;
   
}
section {
    position: relative;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    white-space: normal;
    
}
.padding-row{
  padding-top:40px;
}

.padding-row1{
  padding-top:10px;
}

hr.style-two {
    border: 0;
    width: 30%;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
}


hr.style-three {
    border: 0;
    width: 100%;
    height: 1.5px;
    background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right, #3f4c6b, #606c88); 
}

/* NAVBAR CSS */

.navbar {
    background: transparent;
    min-height: 50px !important;
}


.navbar-toggler {
  outline: none !important;
  border: 0px !important;
}

.nav-item a{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    z-index: 100;
}

.bg-dark1 {
    background-color: rgb(0, 5, 1);
    opacity: 0.9;
    background: #1c2321;  /* fallback for old browsers */
/*     background: -webkit-linear-gradient(to right, #9bc5c3, #616161);  /* Chrome 10-25, Safari 5.1-6 */ */
/*     background: linear-gradient(to right, #9bc5c3, #616161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */
    -webkit-box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.75);
}

.active {
    border-bottom: 2px solid;
    border-bottom-color: whitesmoke;
}

/* NAVBAR CSS */

/* JUMBOTRON CSS */

.jumbotron {
    position: relative;
    overflow:hidden;
    background-attachment: fixed;
    background: url('https://images.unsplash.com/photo-1464014449614-e470468e3ec1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80') center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
    margin-bottom: 0;
    padding-bottom: 0;
    min-height: 90vh;
}

.jumbotron-fluid {
    background-color: black;
}

.jumbotron .container-fluid {
    position: relative;
    cackgroud-olor: black;
}

.rowjumbo {
    height: 99vh;
}

.btn-icon-inner{
  color: whitesmoke;
}

.list-inline-item{
  font-size: 22px;
  background: transparent;
  
}

.rowjumbo h1 {
    font-size: 6vw;
    letter-spacing: 0.01em;
}


.main-title {
    color: white;
    font-size: 13px;
    font-weight : bold;
  letter-spacing: 0.03em;
    text-align: center;
    font-family: 'Questrial', sans-serif;
    text-transform : uppercase;
}

.sec-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-align: center;
    -webkit-text-fill-color: transparent;
    background: #616161;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9bc5c3, #616161);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9bc5c3, #616161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
}

.scale-in-center {
    -webkit-animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
    animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}

.cover-letter {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 70vh;
    line-height: 1;
    font-weight: 700;
    color: #D3CCE3;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 0 ;
    opacity: 0.2;
  
}


@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

/* JUMBOTRON CSS */

/* SECTION 1 CSS */


.sub_head {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    letter-spacing: 4px;
    -webkit-text-fill: transparent;
    background: #16222A;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    z-index: 20;
}

.about_row{
    min-height: 100vh !important;
    padding-top: 30px;
    padding-bottom: 30px;
    background-size: cover;
    background-attachment: fixed;
    background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6); 
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); 

}
/* SECTION 1 CSS */



/* SECTION 2 CSS */

.skill_head {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    letter-spacing: 4px;
    -webkit-text-fill: transparent;
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    z-index: 20;
}

.skill_row{
    min-height: 100vh !important;
    padding-top: 30px;
    padding-bottom: 30px;
    background-size: cover;
    background-attachment: fixed;
    background: #8e9eab;
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    background: linear-gradient(to right, #eef2f3, #8e9eab);
  
}

.progress .progress-bar{
  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right, #3f4c6b, #606c88); 

}
/* SECTION 2 CSS */

/* SECTION 4 CSS */
.footer_row{
    max-height: 30vh !important;
    min-height: 30vh !important;
    position: relative;
    overflow:hidden;
    background-attachment: fixed;
    background: url('https://images.unsplash.com/photo-1464014449614-e470468e3ec1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80') top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
    min-width: 100% !important;  
}

.footer-p{
  
  color:whitesmoke;
}
.footer-list {
  padding-top: 60px;
}

/* SECTION 4 CSS */



/* Responsive CSS */

@media screen and (max-width: 576px) {
  
  .rowjumbo h1 {
    font-size: 9vw;
    letter-spacing: 0.01em;
  }
  
  .main-title {
    color: white;
    font-size: 13px;
    letter-spacing: 0.03em;
    text-align: center;
    font-family: 'Questrial', sans-serif;
    
  }
  
  .cover-letter {
      position: absolute;
      top: 50%;
      left: 50%;
      font-family: 'Montserrat', Helvetica, sans-serif;
      font-size: 40vh;
      line-height: 1;
      font-weight: 700;
      color: #D3CCE3;  /* fallback for old browsers */
      color: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
      color: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      z-index: 0 ;
      opacity: 0.2;
  }
  
.footer-init-p {
  padding-top: 45px;
}
}